<div class="component">
    <h1>Editor rovnic</h1>
    <app-input-equation></app-input-equation>
    <h2>Řešit rovnici:</h2>



    <div class="around-equation-container m-1">
        <div cdkDropListGroup class="equation-container mx-auto m-1" cdkScrollable>
            <div class="equation-side" id='left'>
                <app-equation-controler-node [node]=equation.leftSide [fontSize]='calcEditorFontSize()'>
                </app-equation-controler-node>
            </div>
            <div class="equation-sign noselect">
                <ng-katex [equation]=equationSign style="font-size: calcEditorFontSize();"></ng-katex>
            </div>
            <div class="equation-side" id='right'>
                <app-equation-controler-node [node]=equation.rightSide [fontSize]='calcEditorFontSize()'>
                </app-equation-controler-node>
            </div>
        </div>
    </div>
    <button class="btn btn-secondary m-1" (click)="back()" [disabled]='edits.length < 2'>Zpět</button>
    <button class="btn btn-secondary m-1" (click)="next()" [disabled]='removedEdits.length === 0'>Vpřed</button>
    <button class="btn btn-secondary m-1" (click)='clearSelection()'>Zrušit výběr</button>
    <h3>Upravit:</h3>
    <input type="text" class="form-control col m-1" (input)="actualizeUserInput($event.target.value);" (keyup.enter)="editEquation()">

    <div class="container-fluid">
        <div class="row align-items-start">
            <button class="btn btn-primary col-md-auto m-1" (click)="editEquation()">Nahradit</button>
            <button class="btn btn-primary col-md-auto m-1" (click)="multiplyEquation()">Vynásobit rovnici</button>
            <button class="btn btn-primary col-md-auto m-1" (click)="divideEquation()">Vydělit rovnici</button>
            <button class="btn btn-primary col-md-auto m-1" (click)="swapSides()">Prohodit strany</button>
            <button class="btn btn-primary col-md-auto m-1" (click)="print()">Vypsat</button>
        </div>
    </div>

    
    <h3>Náhled:</h3>
    <div class="container-fluid  mb-5">
        <div class="row justify-content-between">
            <div class="col-12 col-md-7 card preview m-1" #previewContainer>
                <div class="equationPreview">
                    <ng-container *ngIf="userInputMathNodeString.length === 0">
                        Náhled není k dispozici
                    </ng-container>
                    <div #preview>
                        <ng-katex [equation]="getAsLaTeX(userInputMathNodeString)"
                            [ngStyle]="{'font-size': calcFontSize()}">
                        </ng-katex>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 card m-1">
                <ng-container *ngIf="errMessage.length !== 0">
                    <ul class="errLines">
                        <li *ngFor="let line of errMessage.split('\n')">{{line}}</li>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>

    <h2>Zobrazení postupu:</h2>
    <table class="edits">
        <tr *ngFor='let edit of edits'>
            <td class="edits-left pt-2 pb-2">
                <ng-katex [equation]="getAsLaTeX(edit)"></ng-katex>
            </td>
        </tr>
    </table>
</div>