.around-equation-container {
  background-color: var(--light-shades);
  border-radius: 4px;
}

.equation-container {
  width: fit-content;
  display: flex;
  vertical-align: top;
  padding: 0.5rem;
  background-color: var(--light-shades);
  border-radius: 4px;
  overflow-x: auto;
  max-width: 100%;
}

.equation-side {
  margin: auto 0;
}

.equation-sign {
  padding: 1rem 1rem;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  background-color: var(--light-shades);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.equation-side#left {
  padding-left: 1rem;
}

.equation-side#right {
  padding-right: 1rem;
}

.edits {
  margin: 1rem auto 1rem auto;
  font-size: 1.5rem;
}

.edits tr {
  padding-bottom: 0.5rem;
}

.edits-left {
  text-align: right;
}

.edits-middle {
  text-align: middle;
}

.edits-right {
  text-align: left;
}