<div class="component">
  <app-input-equation></app-input-equation>
  <h2>Řešit rovnici</h2>
  <div cdkDropListGroup class="equation-container">
    <div class="equation-side">
      <app-equation-controler-node [node]=equation.leftSide [fontSize]='calcFontSize()'></app-equation-controler-node>
    </div> 


    <div class="equation-sign noselect">
      <ng-katex [equation]=equationSign style="font-size: calcFontSize();"></ng-katex>
    </div>

    <div class="equation-side">
      <app-equation-controler-node [node]=equation.rightSide [fontSize]='calcFontSize()'></app-equation-controler-node>
    </div>
  </div>

  <button class="btn btn-primary" (click)='clearSelection()'>Zrušit výběr</button>

  <!--<button class="btn btn-primary" (click)='print()'>Print</button>-->


  <textarea [value]="userInputExpression" class="form-control" (input)="actualizeUserInput($event.target.value);"></textarea>
  <br>
  <div>{{errMessage}}</div>
  <br>
  <button class="btn btn-primary" (click)="editEquation()">Nahradit</button>
  <br>
  <button class="btn btn-primary" (click)="multiplyEquation()">Vynásobit rovnici</button>
  <br>
  <button class="btn btn-primary" (click)="divideEquation()">Vydělit rovnici</button>
  <br>
  <button class="btn btn-primary" (click)="swapSides()">Prohodit strany</button>
  <br>
  <button class="btn btn-primary" (click)="print()">Vypsat</button>

  <table>
    <tr *ngFor='let edit of edits; let i = index'>
      <td style="text-align: right;">
        <ng-katex [equation]="edit.split('=')[0]"></ng-katex>
      </td>
      <td style="text-align: center;">
        <ng-katex [equation]=equationSign></ng-katex>
      </td>
      <td style="text-align: left; size: 300;">
        <ng-katex [equation]="edit.split('=')[1]"></ng-katex>
      </td>
    </tr>
  </table>
</div>